@import "tailwindcss";

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Canada-big';
    src: url('/assets/fonts/RadioCanadaBig-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('/assets/fonts/Orbitron-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.main-content {
    margin-left: calc(var(--sidebar-width) + var(--sidebar-margin, 1.5rem));
    transition: margin-left 0.3s ease;
}

@media (max-width: 1024px) {
    .main-content {
        margin-left: calc(var(--sidebar-width-md) + var(--sidebar-margin, 1.5rem));
    }
}

@media (max-width: 768px) {
    .main-content {
        margin-left: calc(var(--sidebar-width) + var(--sidebar-margin, 1.5rem));
    }
}